

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: rgb(28,48,115);
  background: linear-gradient(90deg, rgba(28,48,115,1) 0%, rgba(59,72,175,1) 34%, rgba(0,113,255,1) 100%); 
  /* background: rgb(14,40,125);
  background: linear-gradient(90deg, rgba(14,40,125,1) 0%, rgba(38,55,187,1) 34%, rgba(64,140,236,1) 100%);   */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
